/* Оформление страницы входа (login page) */

.login_blok {
    margin-left: 30px;
    margin-top: 10px;
    padding: 0px;
    width: 320px;
    text-align: right;
    color: #003366;
    font-weight: bold;
}

.login_blok ul {
    width: 320px;
    list-style-type: none;
    list-style-position: outside;
}

.login_blok li {
    padding: 13px 0;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

// .login_label {
//     margin-right: 10px;
// }

// .password_fild,
// .login_fild {
//     margin: 0px;
//     border-radius: 5px;
// }

// .input_bottom {
//     color: #003366;
//     margin-left: 0px;
//     width: 100px;
//     height: 30px;
//     border-radius: 5px;
// }