/* Оформление блоков товаров*/

.product_block {
	display: block;
	border-radius: 5px;
	float: left;
	width: 300px;
	height: 300px;
	margin: 20px 30px;
	background: #ffffff;
	text-align: center;
	vertical-align: middle;
}

.block_head {
	font-weight: bold;
	font-size: 18px;
	color: #003366;
	margin: 7px;
}

.product_img {
	height: 200px;
	width: 200px;
}

.prod_price {
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	color: #003366;
}
