
.category_block {
	display: block;
	border-radius: 5px;
	float: left;
	width: 200px;
	height: 200px;
	margin: 18px 30px;
	background: #ffffff;
	text-align: center;
	/* vertical-align: middle; */
}

.block_head {
	font-weight: bold;
	font-size: 18px;
	color: #003366;
	margin: 7px;
}

.category_img {
	height: 150px;
	width: 150px;
}