/* Оформление страницы продукта*/


/* Блок изображения продукта */

.blok1 {
    display: block;
    float: left;
    width: 400px;
    height: 400px;
    margin: 20px 10px;
    /* background: #ffffff; */
    text-align: center;
}


/* Блок описания продукта */

.blok2 {
    /* border: 1px solid #ffffff; */
    display: block;
    float: left;
    width: 450px;
    height: 280px;
    margin: 20px auto 0px;
    /* background: #ffffff; */
    text-align: left;
    color: #ffffff;
}


/* Блок заказа продукта */

.blok3 {
    /* border: 1px solid #ffffff; */
    display: block;
    float: left;
    width: 450px;
    height: auto;
    margin: 10px auto;
    /* padding: 20px; */
    /* background: #ffffff; */
    text-align: left;
    /* vertical-align: middle; */
    color: #003366;
}

.blok_head {
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    margin: 7px;
}

.img_prod {
    border-radius: 10px;
    height: 350px;
    width: 350px;
}

.description_product {
    text-align: left;
    color: #ffffff;
    font-size: 18px;
}

.description_list {
    list-style: disc inside;
}

.price {
    float: left;
    margin: 0 auto;
    text-align: left;
    color: #003366;
    font-size: 20px;
}

.prod_quantity {
    float: left;
    margin: 0 70px;
    text-align: left;
    /* color: ##003366; */
    font-size: 20px;
}

.quantity_prod_buy {
    color: #003366;
    border-radius: 5px;
    width: 90px;
    text-align: right;
    margin: 10px 70px 0 0;
}

.buy_button{
    color: #003366;
    border-radius: 5px;
}


/*
.description_list li{
  padding:6px;
}

.description_list li:before {
    padding-right:10px;
    font-weight: bold;
    color: #77AEDB;
    content: "\2606";
    transition-duration: 0.5s;
}
.description_list li:hover:before {
    color: #337AB7;
    content: "\2605";
} */