
/* Оформление breadcrumb */


.breadcrumb {
    color: #ffffff;
    grid-column: 1/4;
    padding-left: 10px;
    background-color: #003366;
}

.breadcrumb_links{
    display: inline;
    padding-right: 20px;
    place-self: center end;
}

.bc_elem {
    font-size: 12px;
    margin: 0;
    padding: 2px 5px;
    float: left;

    // &.active{
    //     pointer-events: none;
    //     cursor:default;
    //     text-decoration: none;
    // }
}
