
.head_name_block{
    float: left;
    display: grid;
    grid-template-columns: 230px 1fr;
}

.head_name_1 {
    place-self: end start;
    font-style: normal;
    font-weight: bold;
    margin: 0px 20px;
    padding-bottom: 5px;
    font-size: 60px;
    float: left;
}

.head_name_2 {
    display: inline-block;
    place-self: end start;
}

.header_links {
    display: inline;
    padding-right: 20px;
    place-self: center end;
}

.header_link {
    display: inline;
    margin: 0 auto;
}

.basket {
    padding: 0;
    margin-left: 100px;
}

.basket_img {
    height: 50px;
    vertical-align: middle;
}
