
/* Оформление блока фильтров в сайдбаре */

.filters {
    color: #003366;
    padding: 5px;
    height: 186px;
    width: 186px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    margin: 20px 10px 20px;
    text-align: center;
    vertical-align: middle;
}

.filters_head {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.checkbox_in_stock {
    font-size: 20px;
    padding-bottom: 10px;
    margin: 10px;
    border-bottom: 2px solid #ffffff;
}

.checkbox_fild {
    transform: scale(1.5, 1.5);
    color: #003366;
    border-radius: 5px;
}

.min_max_price_head {
    margin: 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

.min_price {
    text-align: right;
    color: #003366;
    border-radius: 5px;
    display: inline;
    width: 5em;
    
}

.max_price {
    text-align: right;
    color: #003366;
    border-radius: 5px;
    display: inline;
    width: 5em;
}

.apply_button {
    color: #003366;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 10px;
}