.account_field_li {
    padding: 10px 0;
    /* padding-right: 90px; */
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.data_label {
    margin-right: 10px;
}

.data_field {
    margin: 0px;
    border-radius: 5px;
}

.address_field {
    /* margin-right: -60px; */
    width: 200px;
    height: 50px;
    border-radius: 5px;
}