
/* Оформление блока выбора категорий в сайдбаре */

.categories_head {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.categories {
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    font-style: italic;
    text-decoration: none;
    padding: 5px;
    min-height: 190px;
    height: auto;
    width: 186px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    margin: 20px 10px 10px;
}
