/* Оформление страницы аккаунта (account page) */

.account_block {
    
    // margin-left: 30px;
    margin-top: 10px;
    padding: 0px;
    width: 320px;
    /* height: 500px; */
    text-align: right;
    color: #003366;
    font-weight: bold;
}

.account_block_ul {
    width: 320px;
    list-style-type: none;
    list-style-position: outside;
    /* margin: 0;
    padding: 0; */
}

.input_bottom {
    margin-right: 100px;
    margin-top: 20px;
    color: #003366;
    margin-left: 0px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}