/* Оформление элемента корзины*/

.product_order{
    width: 700px;
    height: 200px;
}

.order_img_blok1 {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.order_blok2 {
    width: 500px;
    height: auto;
    color: #ffffff;
}

.order_head {
    // padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.oimg {
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.order_data {
    font-weight: normal;
    margin: 5px 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}

.quantity_in_order{
    border-radius: 5px;
    padding-left: 5px;
    width: 45px;
}

.input_buy{
    border-radius: 5px;
    border-width: 1px;
    margin-top: 5px;
    margin-right: 10px;
    color: #003366;
}
