
.wrapper {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: 80px 20px auto 30px;
	background: url(./img/background.jpg) center center/cover
		no-repeat;
}


.header {
	display: grid;
	grid-column: 1/4;
	border-bottom: 2px solid #ffffff;
	background-color: #003366;
	grid-template-columns: 450px 1fr;
}

.aside {
	width: 200px;
	min-height: 470px;
	color: #003366;
	margin-right: 40px;
}

.main {
	min-height: 480px;
	grid-column: 2/4;
}

.footer {
	font-size: 12px;
	grid-column: 1/4;
	background-color: #003366;
	height: 20px;
	padding: 10px 30px;
}
