/* Общие */

ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    padding-right: 20px;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    
    &.activePage{
        pointer-events: none;
        cursor:default;
        text-decoration: none;
    }

    &:hover{
        text-decoration: underline;
    }
    
    &.disabled {
        pointer-events: none; /* делаем ссылку некликабельной */
        cursor: default;  /* устанавливаем курсор в виде стрелки */
        /* color: #999; цвет текста для нективной ссылки */
    }
}


