/* Оформление страницы корзины*/

.totalPriceField{
    float: left;
    font-weight: bold;
	font-size: 22px;
    color: #003366;
    margin-bottom: 20px;
    margin-right: 20px;
}

.input_buy_all{
    font-size: 18px;
    border-radius: 5px;
    border-color: #003366;
    margin-top: 5px;
    color: #003366;
    margin: auto;
}